.container{
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.restaurant-card{
  width: 200px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  font-family: Arial, sans-serif;
  float: left;
  height: 300px;
}
.itemImage{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}
.filter-container{
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.filterDiv{
  margin-bottom: 15px;
  margin-left: 15px;
}